---
layout: default
---

{{ content }}

<div class="about">
    <div class="photo"><img src="{{'/assets/img/self.jpeg'  | prepend: site.baseurl }}"></div>
    <div class="text">I'm Jesper Bergeskans, currently working as the Head of Data Engineering for Eye Security. 
        I ended up in that role after a career as a data architect and engineer, with a passion for distributed systems.<br>
        <br>
        This page is meant to act both as a CV but also as a personal blog about technology I like and work related things I think about.
    </div>
</div>

{% if site.posts.size > 0 %}
<h2>Posts</h2>
<ul>
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>  
    {% endfor %}
</ul>
{% endif %}